body{background-image: linear-gradient(rgb(9, 91, 129), rgb(219, 43, 219), rgb(253, 164, 179));
    background-repeat: repeat;
    background-size: cover;
}

* { 
    box-sizing: border-box;
    font-family: tahoma;
    margin: 30px;
}

.Intro {
    text-align: center;
    
}

.Education {
    text-align: center;
}

.skills {
    display: inline-flex;
    margin: auto;
    

}
.skills1 {
    display: inline-flex;
    margin: auto;
    float: left;
    

}
